body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

nav {
    margin-top: 0;
    background-color: #4caf50;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: auto;
}

/* 헤더 */
header {
    background-color: #80ce83;
    color: white;
    padding: 20px ;
}

.profile h3 {
    font-size: 22px;
    margin: 10px 0 5px;
}

.profile p {
    font-size: 16px;
    margin: 0;
    
}

.introduction h3 {
    max-width: 600px;
    margin-top: 30px;
    margin-left: 20px;
    color: #000;
    
}

.introduction p {
    margin-top: 3px;
    margin-left: 20px;
    margin-top: 0;
}


